<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99499543454-af3rqrcdj9bpv6raitip87ov45g3pt19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99499543454-af3rqrcdj9bpv6raitip87ov45g3pt19</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>99499543454-pueb0hrgg6sc6l35ocir12hdj1f7j3ha.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyASh5s948ka81J5k6vNPEm5N-UuQLpd-cc</string>
	<key>GCM_SENDER_ID</key>
	<string>99499543454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>my-social-31da0</string>
	<key>STORAGE_BUCKET</key>
	<string>my-social-31da0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99499543454:ios:eed0b115769fdb7c24248f</string>
</dict>
</plist>